@charset "UTF-8";

:root{
    --cor001: #00FAC8;
    --cor002: #5FE392;
    --cor003: #8ef88b;
    --cor004: #3a8a38;
}


@font-face {
    font-family: 'Coalition';
    src: url('../fontes/fonte1.ttf') format('truetype');
}

@font-face {
    font-family: 'Second1';
    src: url('../fontes/fonte2.ttf') format('truetype');
}


@font-face {
    font-family: 'Second2';
    src: url('../fontes/fonte3.ttf') format('truetype');
}


*{
    font-family: Arial, Helvetica, sans-serif
    ;
    padding: 0px;
    margin: 0px;
}


body{
    background-color: var(--cor002);
    background-image: url(../Imagens/wallpaper-full.png);
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
}

main{
    background-color: rgba(255, 255, 255, 0.671);
    margin: 20px auto;
    min-width: 400px;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.39);
}

div.intro{
    display: inline-flex;
    padding: 15px;
}

main h1{
    padding: 20px;
    text-align: center;
    color: var(--cor003);
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.678);
    font-family: 'Second1', cursive;
}

main h2{
    background-image: linear-gradient(to left, var(--cor002), transparent);
    padding: 5px 0px 5px 10px;
    margin: 10px;
    color: var(--cor004);
    font-weight: normal;
    text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.808);
    font-family: 'Second2', cursive;
}

main p{
    text-align: justify;
    padding-top: 70px;
    font-size: 1em;
    text-indent: 20px;
}

aside ul{
    padding-bottom: 20px;
}

img.perfil{
    margin-right: 20px;
    padding-right: 0px;
    border: 0px;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.329);
}

img.perfil:hover{
    margin-right: 20px;
    padding-right: 0px;
    border: 0px;
    max-width: 250px;
    transition-duration: 0.5s;
}

aside ul{
    list-style-position: inside;
    padding: 5px;
    margin-left: 20px;
    padding-bottom: 20px;
    width: 100%;
}

ul a{
    color: #4a8a48;
    text-decoration: none;
}

ul > li > a:hover{
    color: var(--cor001);
    text-decoration: underline;
    padding: 10px;
    transition: 0.5s;
}

ul li{
  padding-left: 1px;
  padding-bottom: 2px;
  padding-right: 20px;
  list-style-type: none;  
}

ul > li > img{
    width: 20px;
}


div#caixaaside{
    display: inline-flex;
    margin: auto;
    width: 98%;
    padding-bottom: 50px;
    padding-left: 1px;
}

div#lista{
    padding-left: 15px;
    height: 150px;
    width: 70%;
}

div#qrcode{
    border: 5px solid #00FAC8;
    border-radius: 5%;
    box-shadow: 3px 3px 2px black;
    height: 120px;
    width: 120px;
}

img#qricone{
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

img#qricone:hover{
    width: 20px;
    height: 20px;
    transition: 1s;
}

iframe#qrcode{
    height: 120px;
    width: 120px;
}
