@charset "UTF-8";

:root{
    --cor001: #00FAC8;
    --cor002: #5FE392;
    --cor003: #5fdb5b;
    --cor004: #3a8a38;
}


@font-face {
    font-family: 'Coalition';
    src: url('../fontes/fonte1.ttf') format('truetype');
}

@font-face {
    font-family: 'Second1';
    src: url('../fontes/fonte2.ttf') format('truetype');
}


@font-face {
    font-family: 'Second2';
    src: url('../fontes/fonte3.ttf') format('truetype');
}


*{
    font-family: Arial, Helvetica, sans-serif
    ;
    padding: 0px;
    margin: 0px;
}

/*

background-image: linear-gradient(to right, var(--cor001), var(--cor002), var(--cor003) );


*/

body{
    background-image: url(../Imagens/wallpaper-full.png);
    height: 100%;
    background-size: 1366px;
}

main{
    background-color: white;
    margin: 20px auto;
    min-width: 400px;
    max-width: 600px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.39);
}

div.intro{
    display: inline-flex;
    padding: 15px;
}

main h1{
    padding: 20px;
    text-align: center;
    color: var(--cor003);
    font-weight: normal;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.658);
    font-family: 'Second1', cursive;
}

main h2{
    background-image: linear-gradient(to left, var(--cor002), transparent);
    padding: 5px 0px 5px 10px;
    margin: 10px;
    color: var(--cor004);
    font-weight: normal;
    text-shadow: 1.5px 1px 1px rgba(0, 0, 0, 0.808);
    font-family: 'Second2', cursive;
}

main p{
    text-align: justify;
    padding-top: 70px;
    font-size: 1em;
    text-indent: 20px;
}

aside ul{
    padding-bottom: 20px;
}

img.perfil{
    margin-right: 20px;
    padding-right: 0px;
    border: 0px;
    max-width: 200px;
    border-radius: 50%;
    box-shadow: px 2px 1px rgba(0, 0, 0, 0.329);
}

aside ul{
    list-style-position: inside;
    padding: 5px;
    margin-left: 20px;
    padding-bottom: 20px;
}

ul a{
    color: var(--cor003);
    text-decoration: none;
    padding: 3px;
}

ul a:hover{
    color: var(--cor004);
    text-decoration: underline;
}

ul li{
  padding-left: 10px;
  padding-bottom: 2px;
  list-style-type: none;  
}

ul > li > img{
    width: 20px;
}